alembic==1.13.3
Flask==3.1.1
flask_cors==6.0.0
flask_migrate==4.1.0
flask_sqlalchemy==3.1.1
flask_wtf==1.2.2
injector==0.21.0
langchain==0.3.25
langchain_community==0.3.24
langchain_core==0.3.61
langchain_openai==0.3.18
openai==1.82.0
pydantic==2.11.5
pytest==8.1.2
python-dotenv==1.1.0
WTForms==3.2.1
